.logo-first {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
  }

  .logo-header {
    text-decoration: none;
  }

  .logo-second {
    color: var(--title-color);
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
  }